<div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Address</h1>
        <table class="table table-borderless" style="background-color: rgb(241, 241, 241);">
        <tbody>
          <tr>
            <th scope="row">Identifier</th>
            <td class="is-overflow-ellipsis">{{ address?.address }}</td>
          </tr>
          <tr>
            <th scope="row">Balance</th>
            <td>{{ address?.balance/100000000 }} BTC</td>
          </tr>
        </tbody>
        </table>
        <br />
        <table class="table table-hover">
          <tbody>
            <tr>
              <th scope="row">Total received</th>
              <td>{{ address?.totalReceived/100000000 }} BTC</td>
            </tr>
            <tr>
              <th scope="row">Total sent</th>
              <td>{{ address?.totalSent/100000000 }} BTC</td>
            </tr>
            <tr>
              <th scope="row">Transactions</th>
              <td>{{ address?.txs }}</td>
            </tr>
            <tr>
              <th scope="row">Mixed transactions</th>
              <td style="color:red">70%</td>
            </tr>
          </tbody>
        </table>
        <br />
      </div>
    </div>
    <div class="row">
        <div class="col-md-7">
          <h2>Transactions</h2>
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Hash</th>
                  <th scope="col">Mixed</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tx of address?.txids | paginate: { itemsPerPage: 5, currentPage: p }; let i=index">
                  <td class="is-overflow-ellipsis"><a href="/transactions/{{ tx }}" target="_blank">{{ tx }}</a></td>
                  <td style="color:red">76%</td>
                </tr>
              </tbody>
          </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div align="center">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
      </div>
