
<div style="background-color: rgb(39, 25, 69); padding: 20px; margin-bottom: 15px; margin-right:0px; margin-left:0px; margin-top:0px">
  <div class = "container">
    <div class = "row">
      <div class = "col-4">
         <a href="#" style="color: #ffffff">
          <h1>
            Mixorio
          </h1>
         </a>
      </div>
      <div class = "col-6">
        <input
        class="form-control"
        type="text"
        (keyup.enter)="OnInput($event)"
        placeholder="Search for block height, tx hash or address"
        >
      </div>
    </div>
  </div>
</div>
