.text-truncate{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table.table-ellipsis tbody td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
