<div class="container">
    <div class="row">
        <div class="col-md-12">
          <h1>Latest mined blocks</h1>
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Height</th>
                  <th scope="col">Hash</th>
                  <th scope="col">Mined</th>
                  <th scope="col">TXs</th>
                  <th scope="col">Size</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>123124</td>
                  <td class="is-overflow-ellipsis"><a href="/blocks">0000000000000000000795b009fa0dcf1e77b20e7f5ff122d89556c302db560d</a></td>
                  <td class="is-overflow-ellipsis">Sun, 18 Aug 2019 08:49:03 UTC</td>
                  <td>1543</td>
                  <td>938479</td>
                </tr>
                <tr>
                  <td>123124</td>
                  <td class="is-overflow-ellipsis"><a href="/blocks">0000000000000000000795b009fa0dcf1e77b20e7f5ff122d89556c302db560d</a></td>
                  <td class="is-overflow-ellipsis">Sun, 18 Aug 2019 08:49:03 UTC</td>
                  <td>1543</td>
                  <td>938479</td>
                </tr>
                <tr>
                  <td>123124</td>
                  <td class="is-overflow-ellipsis"><a href="/blocks">0000000000000000000795b009fa0dcf1e77b20e7f5ff122d89556c302db560d</a></td>
                  <td class="is-overflow-ellipsis">Sun, 18 Aug 2019 08:49:03 UTC</td>
                  <td>1543</td>
                  <td>938479</td>
                </tr>
                <tr>
                  <td>123124</td>
                  <td class="is-overflow-ellipsis"><a href="/blocks">0000000000000000000795b009fa0dcf1e77b20e7f5ff122d89556c302db560d</a></td>
                  <td class="is-overflow-ellipsis">Sun, 18 Aug 2019 08:49:03 UTC</td>
                  <td>1543</td>
                  <td>938479</td>
                </tr>
              </tbody>
          </table>
          <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
        </div>
    </div>
</div>
